<!-- This form is incomplete--it needs a destination URL as well as a method: -->
<h1>Guess a letter</h1>
<form action="/create" method="post">
    <p>Guess a letter</p>
  <input type="submit" value="New Game"/>
</form>

